@layer theme, base, videojs.base, components, videojs.theme, videojs.components, utilities;

@import "./captions.css";
@import "./themes/shared.css";
@import "./themes/default.css";
@import "./themes/minimal.css";
@import "./themes/audio.css";
@import "./themes/preferences.css";

@scope (.media-skin) {
  :scope,
  :scope *,
  :scope ::before,
  :scope ::after {
    box-sizing: border-box;
  }

  :scope button {
    margin: 0;
    border: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    letter-spacing: inherit;
    appearance: none;
    background: none;
  }

  :scope img,
  :scope svg,
  :scope media-icon {
    display: block;
    max-width: 100%;
    margin: 0;
  }

  :scope svg[fill="currentColor"] {
    fill: currentColor;
  }

  :scope svg[fill="none"] {
    fill: none;
  }

  :scope svg[stroke="currentColor"] {
    stroke: currentColor;
  }

  :scope video {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: inherit;
    object-fit: var(--media-object-fit, contain);
    object-position: var(--media-object-position, center);
  }

  :scope media-icon > svg {
    width: 100%;
    height: 100%;
  }

  :scope media-tooltip-group,
  :scope media-dialog,
  :scope media-alert-dialog,
  :scope media-error-dialog,
  :scope media-controls {
    display: contents;
  }

  :scope [hidden][hidden] {
    /* Hidden must override component display styles. */
    display: none !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .media-skin {
    interpolate-size: allow-keywords;
  }
}
